version: "3.3"

services:
  n8n:
    image: n8nio/n8n
    ports:
      - "5678:5678"
    environment:
      - TZ=Europe/Istanbul
      - N8N_BASIC_AUTH_ACTIVE=false
    volumes:
      - ./n8n:/home/node/.n8n
